@keyframes NavDropDownappear {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 30px;
  }
}

@keyframes NavDropDowndisappear {
  0% {
    opacity: 1;
    margin-top: 30px;
  }
  100% {
    opacity: 0;
    margin-top: 20px;
  }
}

.openAnimation {
  animation: NavDropDownappear 0.3s forwards;
}

.closeAnimation {
  animation: NavDropDowndisappear 0.3s forwards;
}
